<%- include('partials/header') %>
<%- include('partials/nav') %> 

<div class="container mt-4 w-100">
	<div class="position-relative">
		<a href="/logout" class="btn btn-warning position-absolute top-0 end-0">Log Out</a>
	</div>
	<div class="d-flex align-items-center flex-column justify-content-between">
		<h1>Profile page</h1>
		<a id="showAuthors" class="btn btn-primary m-3">View my favourite Authors</a>
	</div>
</div>

<script>
  const showAuthors = document.getElementById('showAuthors');
  showAuthors.href = window.location.href + '/authors';
</script>

<%- include('partials/footer') %>
